.plcholder {
  background: #f4f4f4;
  width: 100%;
  height: 5px;
  opacity: .4;
  display: inherit;
  animation: fading 1s infinite ease-in-out;
}


.plcholder-menu {
  animation: fading 1s infinite ease-in-out;
}

@keyframes fading {
  0% {
    opacity: .1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: .1;
  }
}
