{% if status %}
  <div id="cx-react-app" class="clearfix">Veuillez patienter durant le chargement...</div>
{% else %}
  <div id="cx-react-app" class="clearfix">
    Quelque chose semble dysfonctionner.
  </div>
{% endif %}
